<config version="1.0">
    <appSettings>
        <add key="Developers.isStageVersion" value="yes"/>
        <add key="Developers.isUsingHttpAuthentication" value="yes"/>
        <add key="Developers.httpAuthenticationUser" value="alexeymamaev"/>
        <add key="Developers.httpAuthenticationPassword" value="a7cr$!2"/>
        <add key="Developers.isRequestsLogEnable" value="yes"/>
        <add key="Preferences.isConfigured" value="no"/>
        <add key="Preferences.connectionType" value="2"/>
    </appSettings>
    <connection/>
    <profiles/>
</config>
