<config version="1.0">
    <appSettings>
        <add key="Developers.isStageVersion" value="yes"/>
        <add key="Preferences.IsConfigured" value="yes"/>
        <add key="Preferences.ConnectionType" value="2"/>
        <add key="Account.Login" value="andrey.pesoshin@flatsoft.com"/>
        <add key="Account.Password" value="61736466686173646637387132323339383472683264313233343536373f415340265e214023282a5341444b295f402140"/>
        <add key="Account.Domain" value="pesoshin.groupdropbox-stage.com"/>
        <add key="Info.StorageInfo" value="Storage space used: 16.6 MB of 250.0 GB"/>
        <add key="Info.SendsInfo" value=", unlimited sends"/>
        <add key="Info.PlanName" value="Business Lite"/>
        <add key="Info.UserName" value="Andrey Pesoshin!"/>
    </appSettings>
    <connection/>
    <profiles/>
</config>
